<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html style="display: block;" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <script type="text/javascript">
        if (top == self) {
            document.documentElement.style.display = 'block';
        }
        else {
          top.location = self.location;
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <title>Home | Sun Ray Scheme</title>




    <style type="text/css">
        <!--

        .contentfont {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 10pt;
            color: #555;
        }

        .fontsize8 {
            font-size: 8pt;
        }

        -->
    </style>



    <style type="text/css">
        html {
            -webkit-text-size-adjust: none;
        }

        * {
            margin: 0px;
            padding: 0px;
        }



        body {
            text-align: center;
            text-indent: 0px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 11pt;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            color: #000;
            background-color: #FFF;

            background-image: url(../../images/bar02.jpg);
            background-repeat: repeat-x;
            background-position: left top;
        }



        #wrapper {
            width: 960px;
            padding: 0px;
            margin-top: 0px;
            margin-right: auto;
            margin-bottom: 0px;
            margin-left: auto;
            background-color: #FFF;
            text-align: left;
        }



        #navigation {
            width: 960px;
            height: 42px;
            clear: both;
        }



        #leftnavigation {
            height: 41px;
            width: 450px;
            float: left;
            letter-spacing: normal;
            text-align: left;
            word-spacing: normal;
            color: #000;
        }



            #leftnavigation * {
                padding-left: 5px;
            }



        #navigation a:link {
            text-decoration: none;
        }



        #navigation a:visited {
            text-decoration: none;
        }

        #navigation a:hover {
            text-decoration: underline;
        }

        #navigation a:active {
            text-decoration: none;
        }



        #rightnavigation a:link {
            color: #039;
            text-decoration: none;
        }



        #rightnavigation a:visited {
            text-decoration: none;
            color: #900;
        }

        #rightnavigation a:hover {
            text-decoration: underline;
        }

        #rightnavigation a:active {
            text-decoration: none;
            color: #039;
        }



        #rightnavigation {
            height: 28px;
            width: 500px;
            float: right;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 8pt;
            font-style: normal;
            font-weight: bold;
            font-variant: normal;
            letter-spacing: normal;
            text-align: right;
            word-spacing: normal;
            color: #039;
        }



            #rightnavigation * {
                padding-right: 5px;
            }



        #masthead {
            width: 960px;
            height: 130px;
            clear: both;
        }



        #ncsslogo {
            float: left;
            width: 420px;
            height: 124px;
        }



            #ncsslogo * {
                padding-left: 5px;
            }



        #rightmasthead {
            float: right;
            width: 250px;
            text-align: right;
        }



            #rightmasthead * {
                padding-right: 5px;
            }



        #search {
            float: right;
            width: 250px;
        }



        #pds {
            float: right;
            width: 250px;
            padding-top: 10px;
        }



        #menu {
            width: 960px;
            clear: both;
            height: 32px;
        }



        #flash {
            width: 960px;
            clear: both;
        }



        #content {
            width: 960px;
            clear: both;
        }



        #mainNav {
            display: inline;
            float: left;
            width: 250px;
            clear: left;
            margin: 20px;
        }





        #mainNavmenu {
            width: 250px;
        }



        #quotes {
            width: 250px;
            clear: both;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 10pt;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            color: #555;
        }



            #quotes * {
                padding-top: 5px;
            }



        #quotes1 {
            padding-left: 20px;
            padding-right: 20px;
            text-align: right;
        }



        #content1 {
            display: inline;
            clear: right;
            float: right;
            width: 630px;
            text-align: left;
            color: #555;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 10pt;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            padding: 20px 20px 20px 0px;
            margin-right: 20px;
        }





        #content2 {
            display: inline;
            clear: right;
            float: right;
            width: 610px;
            text-align: left;
            color: #555;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 10pt;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            background-color: #E9E9E9;
            padding: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }





        #weback {
            clear: both;
            width: 950px;
            border-top-style: solid;
            border-top-color: #CCC;
            padding-top: 10px;
            padding-right: 5px;
            padding-bottom: 10px;
            padding-left: 5px;
            border-top-width: 2px;
            float: left;
        }



        #webawards {
            float: left;
            width: 200px;
            background-color: #FFF;
            height: 100px;
        }



        #acknowledgement {
            float: right;
            width: 920px;
            background-color: #FFF;
            padding-left: 20px;
        }



        #hitcount {
            float: left;
            width: 160px;
            padding-left: 20px;
            padding-right: 0px;
        }



        #weblogos {
            float: left;
            width: 270px;
            text-align: center;
            vertical-align: middle;
        }



        #weblogos1 {
            float: right;
            width: 160px;
            text-align: center;
            vertical-align: middle;
            padding-top: 28px;
            padding-right: 0px;
            padding-bottom: 28px;
            padding-left: 20px;
        }



        #weblogos2 {
            float: left;
            width: 88px;
            text-align: center;
            vertical-align: middle;
            padding-top: 10px;
            padding-right: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
        }





        #weblogos3 {
            float: left;
            width: 88px;
            text-align: center;
            vertical-align: middle;
            padding-top: 10px;
            padding-right: 0px;
            padding-bottom: 10px;
            padding-left: 0px;
        }



        #reachingout {
            float: right;
            padding-right: 0px;
        }




        #footer {
            width: 960px;
            background-color: #039;
            height: 30px;
            clear: both;
        }



        #ratesite {
            float: right;
            width: 400px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 8pt;
            font-style: normal;
            color: #FFF;
            text-align: right;
            vertical-align: middle;
            font-weight: normal;
            font-variant: normal;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            padding-left: 0px;
        }

            #ratesite a:link {
                color: #FFF;
                text-decoration: none;
            }

            #ratesite a:visited {
                color: #FFF;
                text-decoration: none;
            }

            #ratesite a:hover {
                text-decoration: underline;
            }

            #ratesite a:active {
                text-decoration: none;
            }

        #copyright a:link {
            color: #FFF;
            text-decoration: none;
        }

        #copyright a:visited {
            color: #FFF;
            text-decoration: none;
        }

        #copyright a:hover {
            text-decoration: underline;
        }

        #copyright a:active {
            text-decoration: none;
        }

        #copyright {
            float: left;
            width: 528px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 8pt;
            font-style: normal;
            color: #FFF;
            text-align: left;
            vertical-align: middle;
            font-weight: normal;
            font-variant: normal;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 0px;
            padding-left: 5px;
        }

        #datetimestamp {
            float: right;
            width: 420px;
            padding-right: 1px;
            padding-left: 20px;
            font-size: 8pt;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }


        #privacy {
            float: right;
            width: 220px;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 8pt;
            font-style: normal;
            color: #FFF;
            text-align: right;
            vertical-align: middle;
            font-weight: normal;
            font-variant: normal;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            padding-left: 0px;
        }



            #privacy a:link {
                color: #FFF;
                text-decoration: none;
            }



            #privacy a:visited {
                text-decoration: none;
            }

            #privacy a:hover {
                text-decoration: underline;
            }

            #privacy a:active {
                text-decoration: none;
            }
    </style>


    <script src="~/Content/sunray/js/SpryMenuBar.js"></script>

    <style type="text/css">
        <!--

        .skipnavigationfont {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            color: #000;
        }

        .loginfont {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 8pt;
            font-style: normal;
            font-weight: bold;
            color: #999;
            vertical-align: middle;
            letter-spacing: normal;
            text-align: left;
            word-spacing: normal;
            font-variant: normal;
        }

        .fontorange {
            color: #C30;
            text-align: right;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            font-size: 12pt;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
        }

        -->
    </style>





    <style type="text/css">
        <!--

        .fontsize10 {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 10pt;
            color: #FFF;
        }

        -->
    </style>

    <style type="text/css">
               <!--

               /* Give the menu bar a width and set the margins to "auto"

        * so that the browser does the centering.

        */

               ul.MenuBarHorizontal {
                   width: 960px;
                   margin: auto;
               }

               #wrapper #content #content2 table tr td .Contents .description_box_purple {
                   color: #666;
               }

               #wrapper #content #content2 h3 .Subheading {
                   font-size: 20px;
               }

               #wrapper #content #mainNav #quotes #quotes1 p {
                   text-align: left;
               }

               #wrapper #content #content2 h3 strong {
                   font-size: 20px;
               }

               #wrapper #content #content2 p strong {
                   text-align: left;
               }

               #wrapper #content #content2 p img {
                   text-align: center;
               }

               #wrapper #content #content2 h3 strong {
                   font-size: 20px;
               }

               #wrapper #content #content2 h3 strong {
                   font-size: 20px;
               }

               #wrapper #content #content2 h3 strong {
                   font-size: 20px;
               }

               #wrapper #content #content2 h3 strong {
                   font-size: 20px;
               }

               -->
    </style>

    <link href="~/Content/sunray/css/SpryMenuBarHorizontal.css" rel="stylesheet" />

    <link href="~/Content/sunray/css/SpryMenuBarVertical.css" rel="stylesheet" />
</head>



<body>

    <div id="wrapper">


        <!--header-->
        <div id="navigation">

            <div id="leftnavigation">    </div>

            <div id="rightnavigation">
                <a href="http://www.gov.sg/" target="_blank">
                    <img src="~/Content/sunray/images/gov-logo.jpg" alt="Singapore Government" border="0" /></a><br>


                <a href="https://www.ncssapp.org.sg/" title="VWO Login" target="_blank"> VWO Login</a> | <a href="https://www.ncss.gov.sg/ncss/eCMS/login.aspx" title="eCMS / EPES Login" target="_blank">eCMS / EPES Login</a> | <a href="https://www.ncss.gov.sg/home/contact_us.asp" title="Contact Info">Contact Info</a> | <a href="https://www.ncss.gov.sg/home/feedback.asp" title="Feedback">Feedback</a> | <a href="https://www.ncss.gov.sg/home/sitemap.asp" title="Site Map">Site Map</a> | <a href="https://www.ncss.gov.sg/home/Faqs.asp" title="FAQ">FAQ</a>
            </div>
            <br>
        </div>



        <div id="masthead">
            <div id="ncsslogo">
                <img src="~/Content/sunray/images/logo-topFA22042.jpg" alt="National Council of Social Service" usemap="#Map3" border="0" width="400" height="80" />
                <map name="Map3" id="Map3" title="Logo">

                    <area shape="rect" coords="20,2,162,79" href="https://www.ncss.gov.sg/home/index.asp" target="_blank" alt="National Council of Social Service">
                </map>

            </div>

            <br>

            <div id="rightmasthead">

                <div id="search">

                    <form action="https://www.google.com/search" method="get" target="_blank">

                        <table style="width:250px" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td colspan="4">
                                        <input name="domains" id="domains" value="www.ncss.gov.sg" type="hidden">

                                        <input name="oe" id="oe" value="UTF-8" type="hidden">

                                        <input name="ie" id="ie" value="UTF-8" type="hidden">

                                        <input name="sitesearch" id="sitesearch" value="www.ncss.gov.sg" checked="checked" type="hidden">
                                    </td>
                                </tr>
                                <tr>

                                    <td align="right"><input name="q" autocomplete="off" class="inputbox" id="q" tabindex="" value="Search for" size="15" title="Search for" type="text"></td>

                                    <td align="right"><input name="sub1st" class="inputbutton" id="sub1st" accesskey=" " tabindex="" value="Search" title="Search" type="submit"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div id="pds">


                    <img src="~/Content/sunray/images/PDSlogo.jpg" alt="PD logo" width="114" align="top" height="37" />
                </div>
            </div>
        </div>


        <!--menu-->



        <link href="~/Content/sunray/css/fixedMenu_style1.css" rel="stylesheet" />

        <div id="menuui">
            <div class="menu">

                <ul>

                    <li><a href="https://www.ncss.gov.sg/home/index.asp" title="Home" target="_self"><span>HOME</span></a></li>
                    <li>
                        <a href="#" title="About NCSS" target="_self"><span class="down">ABOUT NCSS</span></a>

                        <ul>

                            <li><a href="https://www.ncss.gov.sg/About_NCSS/Mission.asp" title="About us" target="_self">About us</a></li>

                            <li><a href="https://www.ncss.gov.sg/About_NCSS/Annual_Report.asp" title="Financial Information" target="_self">Financial Information</a></li>

                            <li><a href="https://www.ncss.gov.sg/About_NCSS/Press_Releases.asp" title="News Room" target="_self">News Room &amp; Publications</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="#" title="Social Services" target="_self" class="top_link"><span class="down">SOCIAL SERVICES</span></a>

                        <ul>
                            <li><a href="https://www.ncss.gov.sg/social_service/index.asp" title="Social Services" target="_self">Social Services</a></li>
                            <li><a href="https://www.ncss.gov.sg/social_service/children_youth.asp" title="Children and Youth Services" target="_self">Children &amp; Youth Services</a></li>
                            <li><a href="https://www.ncss.gov.sg/social_service/family_services.asp" title="Family Services" target="_self">Family Services</a></li>
                            <li><a href="https://www.ncss.gov.sg/social_service/children_disability_services.asp" title="Disability Services" target="_self">Disability Services</a></li>
                            <li><a href="https://www.ncss.gov.sg/social_service/mental_health_services.asp">Mental Health Services</a></li>

                            <li><a href="https://www.ncss.gov.sg/social_service/eldercare_services.asp" title="Eldercare Services" target="_self">Eldercare Services</a></li>

                            <li><a href="https://www.ncss.gov.sg/social_serviceAndVWOcorner/cos_home.asp" title="Centres of Specialisation" target="_self">Centres of Specialisation</a></li>
                            <li><a href="https://www.ncss.gov.sg/social_serviceAndVWOcorner/service_standards.asp" title="Service Standards" target="_self">Service Standards</a></li>
                            <li><a href="https://www.ncss.gov.sg/social_service/social_enterprises.asp" title="Social Enterprises" target="_self">Social Enterprises</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="CAREER" target="_self" class="top_link"><span class="down">CAREER</span></a>

                        <ul>

                            <li><a href="https://www.ncss.gov.sg/Career/Career%20in%20NCSS.asp" title="Career in NCSS" target="_self">Career in NCSS</a></li>

                            <li><a href="https://www.ncss.gov.sg/social_service_jobs/index.asp" title="Career in Social Services" target="_self">Career in Social Services</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" title="VWO CORNER" target="_self" class="top_link"><span class="down">VWO CORNER</span></a>

                        <ul>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/about_vwo.asp" title="About VWOs, Charities and IPCs" target="_self">About VWOs, Charities and IPCs</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/membership.asp" title="NCSS Membership" target="_self">NCSS Membership</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/funding.asp" title="Funding and Resources" target="_self">Funding and Resources</a></li>
                            <li><a href="https://www.ncss.gov.sg/VWOcorner/socialservicefellowship.asp" target="_self">Social Service Fellowship</a></li>
                            <li><a href="https://www.ncss.gov.sg/VWOcorner/manpower.asp" target="_self">Leadership and Professional Development for Social Service Professionals</a></li>
                            <li><a href="https://www.ncss.gov.sg/Career/VWOs_info.asp" target="_self">NCSS Manpower Initiatives</a></li>

                            <li><a href="https://www.ncss.gov.sg/social_serviceAndVWOcorner/cos_home.asp" title="Centres of Specialisation" target="_self">Centres of Specialisation</a></li>

                            <li><a href="https://www.ncss.gov.sg/social_serviceAndVWOcorner/service_standards.asp" title="Service Standards new" target="_self">Service Standards</a></li>
                            <li><a href="https://www.ncss.gov.sg/VWOCorner/bite-size_projects.asp">Bite-size Projects</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/online_applications.asp" title="Online Tools/Applications" target="_self">eCMS/DDR</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/awards.asp" title="Social Service Awards" target="_self">Social Service Awards</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/SkillsFuture_studyawards.asp" title="SkillsFuture Study Awards" target="_self">SkillsFuture Study Awards</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/vwo_events.asp" title="Upcoming VWO Events" target="_self">Upcoming VWO Events</a></li>

                            <li><a href="https://www.ncss.gov.sg/VWOcorner/usefullinks.asp" title="Useful Links" target="_self">Useful Links</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>







        <div id="flash">

            <div id="topbanner_animated">

                <img src="~/Content/sunray/images/sunray_banner.jpg" alt="Top Banner" usemap="#Map3" border="0" width="961" height="299" />


            </div>
        </div>

        <div id="content">

            <div id="mainNav">

                <!--leftmenu-->
                <script src="~/Content/sunray/js/jquery.js"></script>
                <link href="~/Content/sunray/css/style.css" rel="stylesheet" />
                <script src="~/Content/sunray/js/verticalmenu.js"></script>

                <div style="float:left; margin-left:0px;">
                    <!--This is the second division of right-->
                    <div class="menu_list" id="firstpane">
                        <!--Code for menu starts here-->
                        <p style="background: rgb(0, 51, 153) none repeat scroll 0% 0%;" class="menu_head"><a href="https://www.ncss.gov.sg/SUNRAY/index.asp" title="Sun Ray" target="_self">Sun Ray Scheme</a></p>
                        <p style="background: rgb(0, 51, 153) none repeat scroll 0% 0%;" class="menu_head"><a href="@Url.Action("Portal","Home")" title="Sunray Web Portal" target="_self">Web Portal</a></p>
                        <p class="menu_head_down"><a>People on Sun Ray</a></p>
                        <div class="menu_body">
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_khairul.asp" title="Khairul Hilmi" target="_self">Khairul Hilmi</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_reva.asp" title="Revathi Thangavel" target="_self">Revathi Thangavel</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_malcolm.asp" title="Malcolm Wong" target="_self">Malcolm Wong</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_vasu.asp" title="Vasudaven Govindasamy" target="_self">Vasudaven Govindasamy</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_eugenia.asp" title="Eugenia Tan" target="_self">Eugenia Tan</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_dawn.asp" title="Dawn Wee" target="_self">Dawn Wee</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_yvonne.asp" title="Yvonne Ang" target="_self">Yvonne Ang</a>
                            <a href="https://www.ncss.gov.sg/SUNRAY/SunRay_haiying.asp" title="Peng Hai Ying" target="_self">Peng Hai Ying</a>
                        </div>
                        <p style="background: rgb(0, 51, 153) none repeat scroll 0% 0%;" class="menu_head"><a href="https://www.ncss.gov.sg/SUNRAY/socialserviceorganisations.asp" title="What Sun Ray can offer to Social Service Organisations" target="_self">What Sun Ray can offer to Social Service Organisations</a></p>
                    </div>

                </div>

                <!--Code for menu ends here-->




                <br>
                <br>


                <div id="quotes">

                    <div id="quotes1">

                        <p>&nbsp;</p>
                        <p><a href="https://www.ncss.gov.sg/SUNRAY/SunRay_haiying.asp">
                               <img src="~/Content/sunray/images/side-haiying.jpg" alt="Peng Hai Ying" border="0" /></a></p>

                        <p>&nbsp;</p>

                        <p class="MenuBarItemSubmenu">&nbsp;</p>
                        <p class="MenuBarItemSubmenu">&nbsp;</p>
                    </div>
                </div>
            </div>



            <div id="content1">

                <p><a href="https://www.ncss.gov.sg/home/index.asp">Home</a> &gt;&gt; Sun Ray Scheme</p>
            </div>

            <div id="content2">

                <h3><strong>Sun Ray Scheme</strong></h3>
                <p align="justify">&nbsp;</p>
                <p><strong>A Scheme to Develop Social Service Leaders</strong></p>
                <p>&nbsp;</p>
                <p>
                    <iframe width="570" height="350" src="https://www.youtube.com/embed/6src8YBlhRk" frameborder="0" allowfullscreen></iframe>
                </p>
                <p>&nbsp;</p>
                <p>
                    We are recruiting people with passion to serve the community to
                    be groomed as social service leaders for the sector. If you are:
                </p>
                <p>&nbsp;</p>
                <table border="0" width="616">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Considering a return to social services, </td>
                        </tr>
                        <tr>
                            <td valign="top" width="30"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top" width="576"><p>Switching jobs, </p></td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Recently graduated or </td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Graduating soon</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p><strong>What Sun Ray offers?</strong></p>
                <p>
                    <br>
                    We will assign a Talent Manager to support you in developing your
                    career and leadership potential.  The Talent Manager will draw up a
                    career plan with you and coordinate the job postings, leadership
                    training and other support you need to advance your career in either
                    specialist leadership or executive leadership tracks.
                </p>
                <p>&nbsp;</p>
                <p><u>Job Postings Across Varied Settings</u></p>
                <p>
                    <br>
                    You can look forward to exciting career paths where you will be
                    posted to different social service organisations and rotated across sub
                    sectors to develop rich, cross sector experience.  <br>
                </p>
                <p>&nbsp;</p>
                <p><u>Dual Career Tracks</u></p>
                <p>
                    <br>
                    We offer two career tracks to support different career
                    aspirations.  Both tracks offer enormous opportunities for individuals
                    with outstanding potential and leadership qualities to advance your
                    career with us.  For those with versatile skills who enjoy varied roles,
                    you can be supported to cross tracks at appropriate junctures of your
                    career if you meet the requirements of the next job. <br>
                </p>
                <p>
                    <br>
                </p>
                <p align="center"
                    <img src="~/Content/sunray/images/careertracks.jpg" width="450" height="557" />></p>
                <p align="center">&nbsp;</p>
                <p><u>Leadership Training and Development</u></p>
                <p>
                    <br>
                    We will provide structured learning and development activities at
                    specific career stages to enhance your leadership competencies for
                    current and future leadership role.  As part of your development, you
                    will be called up to lead or participate in sector projects to expand
                    your macro perspectives and accelerate your role readiness.
                </p>
                <p>&nbsp;</p>
                <p align="center">
                    <img src="~/Content/sunray/images/ldroadmap.jpg" alt="LD Roadmap" width="550" height="340" /></p>
                <p align="center">
                    <u>
                        <br>
                    </u>
                </p>
                <p><u>Mentoring</u></p>
                <p>
                    <br>
                    A good mentoring relationship can help a person grow
                    professionally and personally.  The Sun Ray scheme offers mentorship by
                    sector leaders who can be that beacon to help you stay on course in your
                    personal and professional journey in the social service sector.
                </p>
                <p>&nbsp;</p>
                <p><u>Salary and Benefits</u></p>
                <p>
                    <br>
                    We offer competitive remuneration, which takes into consideration
                    your experience and competencies.  On top of that, we provide
                    performance-based incentives to reward stronger performance and
                    contribution.  You will also be given service benefits while employed on
                    the scheme. <br>
                </p>
                <p>&nbsp;</p>
                <p><strong>Social service organisations on board Sun Ray</strong></p>
                <p>&nbsp;</p>
                <table border="0" width="562">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td><u><a href="http://www.able-sg.org/" target="_new">Abilities Beyond Limitations And Expectations Limited</a></u></td>
                        </tr>
                        <tr>
                            <td width="32">2.</td>
                            <td width="520"><a href="http://www.amkfsc.org.sg/" target="_blank">Ang Mo Kio Family Service Centre</a></td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td><a href="http://www.apsn.org.sg/" target="_blank">Association For  Persons With Special Needs</a></td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td><a href="http://www.awwa.org.sg/" target="_blank">AWWA LTD</a></td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td><a href="http://www.carecorner.org.sg/" target="_new">Care Corner Singapore Ltd</a></td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td><a href="http://www.spastic.org.sg/" target="_new">Cerebral  Palsy Alliance Singapore </a></td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td><a href="http://www.ccf.org.sg/" target="_blank">Children's Cancer Foundation</a></td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td><a href="http://www.diabetes.org.sg/" target="_blank">Diabetic Society of Singapore</a></td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td><a href="http://www.fycs.org/index.cfm?GPID=25" target="_blank">Fei Yue Family  Service Centre</a></td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td><a href="http://www.jamiyah.org.sg/main.asp" target="_blank">Jamiyah Singapore</a></td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td><a href="http://www.kkfsc.org.sg/" target="_blank">Kampong Kapor Family Service Centre</a></td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td><a href="http://www.lionsbefrienders.org.sg/" target="_blank">Lions' Befrienders</a></td>
                        </tr>
                        <tr>
                            <td>13.</td>
                            <td><a href="http://www.montfortcare.org.sg/" target="_blank">Montfort Care</a></td>
                        </tr>
                        <tr>
                            <td>14.</td>
                            <td><a href="http://www.minds.org.sg/" target="_blank">Movement for the  Intellectually Disabled of Singapore</a></td>
                        </tr>
                        <tr>
                            <td>15.</td>
                            <td><a href="http://www.ojoy.org/" target="_blank">O'Joy Care Services</a></td>
                        </tr>
                        <tr>
                            <td>16.</td>
                            <td><a href="http://www.rainbowcentre.org.sg/" target="_blank">Rainbow Centre</a></td>
                        </tr>
                        <tr>
                            <td>17.</td>
                            <td><a href="http://www.reach.org.sg/" target="_blank">REACH Community  Services Society</a></td>
                        </tr>
                        <tr>
                            <td>18.</td>
                            <td><a href="http://www.sgenable.sg/" target="_blank">SG Enable</a></td>
                        </tr>
                        <tr>
                            <td>19.</td>
                            <td><a href="http://www.samhealth.org.sg/" target="_blank">Singapore Association  For Mental Health</a></td>
                        </tr>
                        <tr>
                            <td>20.</td>
                            <td><a href="http://www.sacs.org.sg/" target="_blank">Singapore Anglican  Community Services</a></td>
                        </tr>
                        <tr>
                            <td>21.</td>
                            <td><a href="http://www.redcross.org.sg/" target="_blank">Singapore Red Cross Society</a></td>
                        </tr>
                        <tr>
                            <td>22.</td>
                            <td>South Central Community Family Service Centre</td>
                        </tr>
                        <tr>
                            <td>23.</td>
                            <td><a href="http://www.spd.org.sg/" target="_blank">SPD</a></td>
                        </tr>
                        <tr>
                            <td>24.</td>
                            <td><a href="http://www.samh.org.sg/" target="_blank">St Andrew's Mission Hospital</a></td>
                        </tr>
                        <tr>
                            <td>25.</td>
                            <td><a href="http://sundac.org/" target="_blank">SUN-DAC</a></td>
                        </tr>
                        <tr>
                            <td>26.</td>
                            <td><a href="http://www.thkmc.org.sg/" target="_blank">Thye Hua Kwan Moral Charities Ltd</a></td>
                        </tr>
                        <tr>
                            <td>27.</td>
                            <td><a href="http://www.touch.org.sg/" target="_blank">TOUCH Community Services</a></td>
                        </tr>
                        <tr>
                            <td>28.</td>
                            <td><a href="http://www.transfamilyservices.org.sg/" target="_blank">TRANS Family Service Centre</a></td>
                        </tr>
                    </tbody>
                </table>
                <p align="center">&nbsp;</p>
                <p align="center">
                    <img src="~/Content/sunray/images/APPLY1.jpg" alt="APPLY" width="300" height="120" /></p>
                <p align="center">&nbsp;</p>
                <p>
                    Currently, we are looking for individuals from diverse background with rich working experience for these roles:<br>
                </p>
                <p>&nbsp;</p>
                <table border="0" width="616">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Executive Director</td>
                        </tr>
                        <tr>
                            <td valign="top" width="30"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top" width="576"><p>Vice Principal (Special Education/Early Childhood Intervention)</p></td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Head, Corporate Functions (Human Resource, Finance)</td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Centre Head</td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Programme Head</td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Volunteer Management</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>We are also recruiting for senior roles in the following professions:</p>
                <p>&nbsp;</p>
                <table border="0" width="616">
                    <tbody>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Social Work</td>
                        </tr>
                        <tr>
                            <td valign="top" width="30"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top" width="576"><p>Occupational/Physio/Speech &amp; Language Therapy</p></td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Special Education/Early Childhood Intervention</td>
                        </tr>
                        <tr>
                            <td valign="top"><img alt="1" src="~/Content/sunray/images/bullet1.gif" /></td>
                            <td valign="top">Psychology</td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>Please submit your application now to <a href="mailto:Sun_Ray@ncss.gov.sg">Sun_Ray@ncss.gov.sg</a>. <strong> </strong></p>
                <p>
                    <strong>
                        <br>
                        Be the Leading Light that Touches Lives.
                    </strong>
                </p>
                <p align="center">&nbsp;</p>
                <p align="left"><a href="#top">
                                    <img src="~/Content/sunray/images/top.gif" alt="back to top" border="0" width="41" align="right" height="15" /></a></p>
            </div>
        </div>
        <div id="weback">
            <div id="acknowledgement">
                <div id="weblogos">
                    <div id="weblogos2"></div>
                    <div id="weblogos1"></div>
                    <div id="weblogos3"></div>
                </div>
                <div id="reachingout">
                    <a href="http://www.comchest.org.sg/" target="_new" alt="Comchest">
                        <img src="~/Content/sunray/images/cc_footer.jpg" border="0" /></a>
                    <p style="padding-left:20px; display:inline;"><a href="http://www.socialserviceinstitute.sg/" target="_new" alt="SSI">
                                                                      <img src="~/Content/sunray/images/ssi_footer.jpg" border="0" /></a></p><p>
                    </p>
                </div>
            </div>
        </div>

        <div id="datetimestamp">
            <div align="right">
                <div id="datetimestamp1">
                    <div align="right">
                        Last updated/reviewed on 4 November 2015
                    </div>
                </div>
            </div>
        </div>




        <div id="footer">
            <div class="loginfont" id="copyright">
                <p>
                    <a href="http://www.ncss.gov.sg/home/privacy_terms.asp">Privacy Statement | Terms of Use</a> |
                    <!--<a target="_blank" href="../home/ratesite.asp">Rate Our Website</a>-->
                    <a href="https://www.jusfeedback.asia/Community/se.ashx?s=7FDA9EA723A5704F&amp;Agency=MSF.NCSS&amp;Svc=Corporate/General:%20Feedback%20submission%20by%20public&amp;eLnk=www.ncss.gov.sg&amp;Cat=Citizen" target="_blank">Rate Our Website</a>
                </p>
            </div>
            <div class="loginfont" id="ratesite">
                <p>© 2016 National Council of Social Service</p>
            </div>
        </div>

    </div>









    <!--for google analytics -->

    <script src="~/Content/sunray/js/urchin.js"></script>


    <script type="text/javascript">

_uacct = "UA-2833102-1";

urchinTracker();

    </script>

    <!--for google analytics -->

    <noscript class="noscript">

        <p>Your Browser doesn't support JavaScripting.</p>
    </noscript>

    <script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */</script>




</body>
</html>