@{
    ViewBag.Title = "NCSS - SunRay Web Portal";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Sunray Web Portal - NCSS</h2>
<h3>Social Services</h3>

<h6 class="NCSS-info">The goal of social services in Singapore is to promote the well-being of people and communities. It seeks to help individuals to be self-sufficient and less dependent, and restore individuals, families or communities to successfully function in the society.</h6>

<div class="row ncss-social-services">
    <!--
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/assistance_schemes.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Assistance Schemes</label>
                <span>List of assistance schemes for individuals and families with social and financial needs.</span>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/children_society.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Children's Social and Emotional Well-Being (e-CSEW) Directory</label>
                <span>Search for services and publications to enhance the well-being of children.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/eldercare.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Eldercare Service Locator</label>
                <span>Search for suitable eldercare services.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/helplines.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Helplines</label>
                <span>List of helpines for counselling or coping with issues in life such as addiciton and gambling.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/mental_health_services.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Mental Health Services</label>
                <span>List of services to cope with mental health issues.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/msf.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Family and Community Services Directory (MSF)</label>
                <span>Search for social and community services.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/sg_enable.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>SG Enable</label>
                <span>Search for services and schemes for persons with disabilities.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/teenage_pregnancy_resources.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Teenage Pregnancy Resources</label>
                <span>List of services to help teenagers facing unplanned pregnancies.</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6 col-xs-12">
        <div class="item">
            <img src="~/Content/images/home/yeah.jpg" class="col-sm-3 col-md-3 col-xs-3" />
            <div class="content col-sm-9 col-md-9 col-xs-9">
                <label>Youth Employment and Advancement Hub (YEAH!)</label>
                <span>Assists young job seekers between 16 to 21 years old</span>
            </div>
        </div>
    </div>
    -->

</div>

<script>
    $(document).ready(function () {
       
        $("#Home-menu").addClass("active");
    });
</script>