@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1 class="page-header">
    Leave Application
</h1>

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>  <a href="index.html">Leave Application</a>
    </li>
    <li class="active">
        <i class="fa fa-desktop"></i> Leave Application List
    </li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        Leave Searching
    </div>
    <div class="panel-body">
        <form class="form-inline" role="form">
            <div class="form-group col-sm-6 col-md-6 col-sx-12">
                <label>Leave Type</label>
                <select class="form-control input-large">
                    <option>Medical Leave</option>
                    <option>Compasionate Leave</option>
                    <option>Hopitalisation Leave</option>
                </select>
            </div>
            <div class="form-group col-sm-6 col-md-6 col-sx-12">
                <label>Status</label>
                <select class="form-control input-large">
                    <option>New</option>
                    <option>Approved</option>
                    <option>Rejected</option>
                </select>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
           
        </form>


    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        Leave List
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Leave Date From</th>
                        <th>Leave Date To</th>
                        <th>Number of Days Off</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                    <tr>
                        <td>Medical Leave</td>
                        <td>January 2</td>
                        <td>January 5</td>
                        <td>3</td>
                        <td><span class="label label-success">Approved</span></td>
                        <td>View</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>