@{
    ViewBag.Title = "SubmitSuccessful";
    Layout = null;
}


<div class="panel panel-default success-form">

    <div class="panel-body">
        <form class="form-inline" role="form">
            <div class="alert alert-success">
                <strong>Success!</strong>. You submit completed !
            </div>
            <div class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5">
                <img src="~/Content/images/home/loading.gif" />
            
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                Redirect to Leave Appication page after <span id="redirect-time">3</span> second...
            </div> 
</form>
    </div>
</div>
<script>
    var counter = 3;
    var myInterval = setInterval(function () {
        counter -= 1;
        $("#redirect-time").text(counter);
        if (counter == 0)
            window.location.href = "../Leave";
    }, 1000);


    window.setTimeout(function () {
        

    }, 5000);
</script>