<div class="modal fade" tabindex="-1" role="dialog" id="ncss-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="modal-content">

            </div>
            <div class="modal-footer">
                <a href="../Leave"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></a>
            </div>
        </div>
    </div>
</div>